<h1>All posts by User</h1>

<div class="user-card">
  <%= image_tag(@user.photo, alt: @user.name, class: "user-photo") %>
  <div class="user-details">
    <h2><%= @user.name %></h2>
    <p>Number of posts: <%= @user.posts.count %></p>
  </div>
</div>

<% @posts.each do |post| %>
  <div class="post">.
    <div class="post-body">
      <h2><%= link_to "#{post.title}", user_post_path(post.author, post) %></h2>
      <p><%= post.text %></p>
      <p>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
    </div>
    <div class="post-coments">
      <% post.recent_comments.each do |comment| %>
        <p>
          <strong><%= comment.user.name %> :</strong> <%= comment.text %>
        </p>
      <% end %>
    </div>
  </div>
<% end %>
